 <!-- TABLE -->
 <div class="col-md-12">
    <!-- <input type="text" class="form-control" placeholder="Buscar factura ( presiona enter para buscar )" (change)="buscarFactura($event)" />  -->
    <!-- <input type="text" class="form-control" placeholder="Buscar factura ( presiona enter para buscar )" name="hora" (ngModelChange)="buscarFactura($event)" /> -->
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Operaciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user._id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>
            <button [routerLink]="['/user', user._id]" class="btn btn-secondary btn-sm">
                <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deteleUser(user._id)">
                <i class="far fa-trash-alt"></i>
           </button>
          </td>
        </tr>
      </tbody>
    </table>
   
  </div>
